blockquote {
  background-color: #f6f6f6;
  text-align: center;
  position: relative;
  padding: 50px 30px 40px;
  border-left: 4px solid var(--color-primary);
  position: relative;
  &:after {
    content: '\f10e';
    font-family: FontAwesome;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: var(--color-primary);
    color: rgba(0,0,0,0.3);
    padding: 20px;
    border-bottom-left-radius: 100%;

  }

}
.format-quote {
  margin-top: 30px;
}