.call-to-action {
  padding: 50px 0;
  background-color: var(--color-primary);
  a {
    border: 2px solid #FFF;
    padding: 10px 15px;
    color: #FFF;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    &:hover {
      background-color: #FFF;
      border-color: var(--color-primary);
      color: var(--color-primary);
    }
  }
}